<div id="club">
  <h1 class="mbottom text-hide"><%= image_tag 'tl-club.png' %>Se parte del Club Chivas</h1>
  <div class="center-block fondo-gris text-left">
    <h3>Por favor completa los datos ausentes</h3>
    <%= render 'customers/form' %>
  </div>
</div>