/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "font-awesome/css/font-awesome.min"
 *= require "bootstrap/css/bootstrap.min"
 *= require "uniform/css/uniform.default"
 *= require "admin/style-metronic"
 *= require "admin/style"
 *= require "admin/style-responsive"
 *= require "admin/plugins"
 *= require "admin/default"
 *= require "admin/green"
 *= require "admin/pages/login"
 *= require "gifts"
 *= require "mobiles_layout"
 *= require_self
 */


.no0{ top: -45px;}
.no1{top: -35px;}
.no2{top: -25px; margin-left: 10px;}
.no3{ margin-left: 10px;top: -15px;}
.no4{ margin-left: 10px; top: -5px;}

.turn-base .turns-active{
    left: 57.5%;
    position: relative;
    top: -220px;
    display: inline-block;
    text-align: center;
}

.turn-base .turns-active .pagos{
 margin-top: 60px;
}


.pagar{ margin-top: -200px;}

.gold{
    background-color:  #8a7d51;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #8a7d51 #8a7d51;
    border-image: none;
    border: 1px solid #8a7d51;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
a.gold{ color: #ffffff; }

table.contador {
    counter-reset: rowNumber;
}

table.contador tr:not(:first-child) {
    counter-increment: rowNumber;
}

table.contador tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}



.field{ margin-bottom: 10px;}